@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


/*-------------------------------------------------- General CSS*/
html{ 
    height:100%; 
}

body{
    font-family: Roboto;
    font-family: 'Open Sans';
    font-family: 'Lato';
    margin: 0px;
    min-width: 500px;
    background-color: #f7f8fa;

}
a{
    text-decoration: none;
}
.content-container{
    max-width: 970px;
    padding: 25px 40px 25px;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 7px;
    background: rgba(254,254,254);
    overflow: auto;
    border: 1px solid #ecedf0;
    box-shadow: 0 2px 4px rgb(0,0,0,0.05);
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.content-container::-webkit-scrollbar{
    display: none;
}


/*--------------------------------------------------Headings and stuff*/
.head-text{
    text-align: center;
    color:#0c141b;
    font-weight: normal;
}
.h1{
    font-size:1.8em;
    margin:0;
}
.h3{
    font-size:1em;
    margin: 10px 0;
    /* font-weight: 300; */
    color: #404244;
}
.heading{
    font-size:1.5em;
    margin:0;
    font-weight: 600;
    color: #393b3e;
}


/*--------------------------------------------------Header*/
.header{
    height: 50px;
    background-color: #d0dfed;
    background-color: #3d5974;
}
.header-elements{
    height: 50px;
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header-center{
    position: relative;
    right: 40px;
}
#app-name{
    position: relative;
    top: 14px;
    font-size: 1.35em;
    left: 20px;
    font-weight: 300;
    color: #fbfdfd;
    transition: color 0.15s;
    z-index: 20;
}
#app-name:hover{
    color: #dae9ff;
}

.user-info{
    text-align: center;
    color: #e9f1f9;
    font-weight: 300;
    top: 17px;
    margin: 0 auto;
    position: relative;
}
.user-info i{
    margin-left: 3px;
}

.btn-logout {
    position: relative;
    height: 23px;
    width: 70px;
    text-align: center;
    padding-top: 7px;
    top: 10px;
    font-size: 0.95em;
    right: 20px;
    color: #fbfdfd;
    transition: color 0.15s, background 0.15s;
    background: #3c4f63;
    border-radius: 2px;
}
.btn-logout:hover{
    background: #36485a;
}

#nav-bar{
    height: 45px;
    background-color: #ffffff;
    border-bottom: 1px solid #d1d5db;
    box-shadow: 0 2px 4px rgb(0,0,0,0.05);
}
#nav-content{
    max-width: 1050px;
    height: 45px;
    margin: 0 auto;
    display: flex;
}
#nav-content button{
    color: #585858;
    font-size: 1em;
    font-family: Lato;
    font-weight: 600;
    background: none;
    border: 3px solid transparent;
    padding-top:2px;
    width: 13%;
    margin: 0 2px;
    min-width: 120px;
    outline: none;
    cursor: pointer;
    transition: color 0.1s;
}
#nav-content button .las{
    color: #696a6e;
    position: relative;
    top: 2px;
}
#nav-content button:hover{
    color: #5d778d;
}
.nav-active{
    padding-top: 3px;
    border-bottom: 3px solid #5d778d !important;
    color: #366893 !important;
} 
.nav-active .las{
    color: #366893 !important;
}

#nav-bar .las{
    font-size: 1.2em;
    position: relative;
    /* top: 2px; */
}


/*--------------------------------------------------Login*/
.btn-card{
    display: block;
    background-color: white;
    margin: 0 auto;
    position: relative;
    padding: 15px 20px 15px;
    width: 300px;
    height: 260px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}
#note{
    text-align: center;
    font-size: 1.2em;
    /* font-weight: 600; */
    padding: 10px;
    margin: 0 0 15px;
    color: rgb(81 84 90);
}
#note-small{
    position: absolute;
    bottom: 10px;
    left: 73px;
}
.btn-google, .btn-twitter, .btn-github{
    appearance: button;
    width: 220px;
    margin: 15px auto;
    display: block;
    height: 32px;
    padding-top: 12px;
    border-radius: 3px;
    font-size: 1.05em;
    text-align: center;
    color: #ffffff;
    border: none;
    outline: none;
}

.btn-group button{
    width: 220px;
    margin: 8px auto;
    display: block;
    height: 45px;
    padding-bottom: 3px;
    font-family: Roboto;
    padding-right: 20px;
    border-radius: 3px;
    font-size: 1.1em;
    text-align: center;
    color: #1d3448;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    background-color: #f4f6f8;
    transition: background 0.15s;
}
.btn-group button:hover{
    background-color: #e5f3f5;
}

.btn-group i{
    margin-right: 5px;
    font-size: 1.3em;
    position: relative;
    top: 1px;
}
.fab{
    font-size: 1em !important;
    top: 0px !important;
}

.btn-google{
    background-color: #4885ed;
    transition: background-color 0.1s;
}
.btn-google:hover{
    background-color: #6196f1;
}
.btn-github{
    background-color: #333;
    transition: background-color 0.1s;
}.btn-github:hover{
    background-color: rgb(61, 61, 61);
}
.btn-twitter{
    background-color: #1DA1F2;
    transition: background-color 0.1s;
}
.btn-twitter:hover{
    background-color:rgb(61, 181, 255);
}
.question{
    margin: 20px auto;
    display: table;
    /* position: relative; */
    /* float: right; */
    /* right: 45px; */
    font-size: 0.9em;
    /* display: none; */
}


/*--------------------------------------------------Registration*/
#registration{
    display: grid;
    width: 255px;
    margin: 20px auto 0;
}

#registration input, #registration select{
    outline: none;
    height: 28px;
    font-size: 0.9em;
    padding-left: 12px;
    font-family: 'Roboto';
    background-color: #f5f6f8;
    border: none;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #d3d4da;
}

#email, #role{
    color: #8c8c8c;
    background-color:#e9e9e9 !important;
}

#registration label{
    font-size: 0.85em;
    font-family: 'Roboto';
    font-weight: 600;
    padding-left: 2px;
    margin-bottom: 2px;
}
#btn-register{
    width: 100px;
    margin: 0 auto;
    height: 32px;
    font-family: 'Roboto';
    font-size: 0.9em;
    margin-top: 5px;
    color: white;
    background: #507690;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: background 0.15s;
}
#btn-register:hover{
    background: #587d96;
}
#registration select{
    height: 33px;
}


/*--------------------------------------------------Content*/
/*------------------------------ Patients*/
.patient-content{
    text-align: left;
}
#video-list{
    padding-inline-start: 0;
}
#video-list li{
    font-size: 1.2em;
    padding: 20px 0 5px;
    list-style: none;
}
.video-descr{
    color:grey;
    font-size:0.9em;
}
.youtube-embed{
    width: 380px;
    height: 210px;
    border: 1px solid grey;
    box-shadow: 0 2px 4px rgb(0,0,0,0.2);
    display: table;
    margin: 0 auto 50px;
}
.videodesc{
    font-size: 1.2em;
    font-weight: 600;
    color: #2e4a60;
    text-align: center;
    margin-bottom: 13px;
    padding-right: 10px;
}
#video-list{
    width: 100%;
}

#video-list td{
    padding: 15px;
}
.column{
    width: 50%;
    min-width: 350px;
}
#video-list-area{
    display: flex;
}
#video-frame{
    width:600px;
    height:400px;
    margin: 0 auto;
}
#video-list-area i{
    font-size: 1.2em;
    position: relative;
    top: 1px;
    margin-right: 2px;
    padding: 4px;
    color: #3d5974;
}
@media only screen and (max-width: 800px) {
    #video-list-area{
        display: unset;
    }
}

/*------------------------------ Physician/Researcher*/
.patient-list{
    margin-top: 35px;
    table-layout: auto;
    width: 100%;
    border-color:lightgray;
    color:#27292b;
    font-size: 0.95em;
}
.patient-list thead{
    border-bottom: 1px solid grey;
}
.patient-list thead tr{
    height: 50px;
}
.patient-list thead tr td{
    font-weight: 600;
}
.patient-list tbody tr{
    height: 80px;
}
.patient-list tbody tr td{
    font-weight: 400;
    padding: 0 7px;
}
.patient-list tbody tr:nth-child(even){
    background: #fff;
}
.patient-list tbody tr:nth-child(odd){
    background:  #fafafa;
}
.patient-list td{
    text-align: center;
    vertical-align: middle;
}
.patient-data-link{
    color: #667a8b;
}
.data-select{
    font-family: Roboto;
    font-size: 0.9em;
    outline: none;
    border: 1px solid #a8a8a8;
    padding: 2px;
    border-radius: 2px;
    height: 26px;
}
.btn-data-view, .btn-data-download, .btn-therapy-view, .btn-therapy-researcher-view{
    background-color: #ffffff;
    color: #465466;
    outline: none;
    padding: 2px 0 0 0px;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    margin: 0 0 0 4px;
    cursor: pointer;
    width: 26px;
    height: 26px;
    position: relative;
}
.btn-data-view i, .btn-data-download i, .btn-therapy-view i, .btn-therapy-researcher-view i{
    font-size: 1em;
}
.download-area{
    position: relative;
    left: 10px;
    width: 130px;
    display: inline-flex;
}

/*RSS*/
.rss-feed{
    max-width: 680px;
    text-align: justify;
    line-height: 1.4;
    margin-top: 30px;
    padding: 0 0 0 0px;
}
.feed-item-title a{
    color: #2a5e8b;
    font-weight: 500;
    font-family: Roboto Slab;
    font-size: 1.1em;
}
.feed-item-title{
    margin-bottom: 4px;
    margin-top: 0;
    text-align: left;
}
.feed-item-desc{
    color: #3b3b3b;
    margin: 0 0 25px;
    font-weight: 400;
    font-size: 0.95em;
}
.pub-date{
    font-size: 0.8em;
    color: #6d6e74;
    margin-top: 0;
}


/*--------------------------------------------------Profile Page*/
.profile-area{
    display: flex;
    width: 100%;
}
.profile-th{
    text-align: left;
    width: 90px !important;
    height: 35px;
    color: #313438;
    font-weight: 600;
    padding-left: 20px;
}
.profile-td{
    text-align: left;
    width: 70%;
    color: #313438;
    font-weight: 400;
}
#table-profile{
    border-collapse: collapse;
    margin-top: 10px;
}
#table-profile tr:nth-child(even){
    background: #fff;
}
#table-profile tr:nth-child(odd){
    background:  #fafafa;
}#table-profile tr{
    border-bottom: 1px solid #dfe3e8;
    border-top: 1px solid #dfe3e8;
}
#profile-picture{
    width: 120px;
    display: flex;
    margin: 10px 20px 0 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0,0,0,0.1);
}
#profile-pic-text{
    display: none;
}

/*------------------------------ CSV Modal Window*/
#data-modal{
    display: none;
    position: fixed;
    z-index: 100;
    width: 95%;
    max-width: 1150px;
    border-radius: 3px;
    height: 95%;
    overflow: auto;
    background-color: rgb(255 255 255);
    border: 1px solid #cbccd0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 12px rgb(0,0,0,0.2);
}
.modal-content{
    padding: 30px 0 0 40px;
}
.modal-top{
    display: flex;
    justify-content: space-between;
}
#modal-close{
    font-size: 1.4em;
    float: right;
    margin-right: 40px;
    height: 20px;
    color: #949fa9;
    transition: color 0.15s;
}
#modal-close:hover, #modal-close:focus {
  color: rgb(66, 72, 77);
  cursor: pointer;
}
#modal-heading{
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 0;
    float: left;
    color: #333;
}
.modal-csv-table{
    max-width: 900px;
    text-align: center;
}
.modal-csv-table table{
    border-collapse: collapse;
    border: 1px solid #e3e2e2;
}
.modal-csv-table td{
    width: 100px;
}
.modal-csv-table tr{
    height: 32px;
    border-bottom: 1px solid #e3e2e2;
}
.modal-csv-table th{
    height: 35px;
}
.modal-csv-table tr:nth-child(even){
    background: #fff;
}
.modal-csv-table tr:nth-child(even){
    background:  #fafafa;
}
.modal-therapy-tables{
    max-width: 1050px;
}
.modal-therapy-tables p{
    font-size: 1.3em;
    margin: 10px 0;
    font-weight: 600;
    color: #5a6879;
}
.modal-therapy-tables table{
    border-collapse: collapse;
    border: 1px solid #e3e2e2;
    text-align: center;
    margin-bottom: 50px;
}
.modal-therapy-tables td{
    min-width: 100px;
    padding: 8px 8px;
}
.modal-therapy-tables tr{
    height: 32px;
    border-bottom: 1px solid #e3e2e2;
}
.modal-therapy-tables thead tr{
    border-bottom: 1px solid #a6acb3;
}
.modal-therapy-tables tr:nth-child(even){
    background: #fff;
}
.modal-therapy-tables tr:nth-child(even){
    background:  #fafafa;
}
.test-session-list{
    width: 100%;
}
